/* Container */
.container {
  background-image: url("./assets/images/campaign_container.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.campaign_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* origin padding : padding : 325px ...spread operator */
  padding: 0px 52px 43px 52px;
}

/* ====================================================================================== 1440px =========================================================================== */
/* @media > 1440px */
@media (min-width: 1440px) {
  /* Button : Play Video */
  .btn_default {
    display: flex;
    width: 425px;
    /* original padding : 5px 30px ! */
    padding: 5px 5px 5px 25px;
    border-radius: 101px;
    border: 1px solid #00277a;
    background: #ff2f80;
    backdrop-filter: blur(9px);
    align-items: center;
    gap: 30px;
    color: #fff;
    text-align: center;
    font-family: Clash Display;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.165px;
  }

  /* .btn_reward {
    display: flex;
    width: 264.448px;
    height: 58.448px;
    align-items: center;
    padding: 4px 5px 4px 20px;
    border-radius: 78.388px;
    border: 0.776px solid #aeaeae;
    background: #ff2f80;
    color: #fff;
    text-align: center;
    font-family: Clash Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.125px;
  } */

  .i_play {
    background-color: white;
    border-radius: 100%;
    width: 60.38px;
    height: 60.356px;
  }

  /* CampaignContext */
  .camp_context::before {
    content: "";
    position: absolute;
    width: 473px;
    height: 472px;
    left: -205px;
    bottom: -43px;
    border-radius: 473px;
    background: #ff2f80;
    z-index: 1;
  }

  .camp_context::after {
    content: "";
    position: absolute;
    width: 473px;
    height: 472px;
    border-radius: 473px;
    background: #ff2f80;
    right: -335px;
    bottom: -335px;
  }

  .camp_context {
    position: relative;
    display: flex;
    z-index: 3;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 1336px;
    height: 159px;
    border-radius: 31px;
    border: 1px solid #c5c5c5;
    background: #fff;
  }

  .camp_context #camp_context_banner {
    width: 136px;
    height: 136px;
    position: relative;
    z-index: 2;
    /* extra : style */
    border-radius: 200px;
    border: 1px solid #868686;
  }

  .border-r-banner {
    width: 1px;
    height: 94px;
    background: #fff;
    z-index: 2;
  }

  .camp_context .camp_context_desc {
    width: 837px;
    color: #000;
    font-family: Clash Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .camp_context div:nth-child(3) img {
    width: 41px;
    height: 41px;
    margin-top: 105px;
    margin-bottom: 13px;
    position: relative;
    z-index: 2;
  }
}

/* ====================================================================================== 1280px =========================================================================== */
/* @media > 1280px */
@media (min-width: 1280px) and (max-width: 1440px) {
  /* Button : Play Video */
  .btn_default {
    display: flex;
    width: 382.5px;
    /* origin padding */
    /* padding: 4.5px 27px; */
    padding: 4.5px 5px 4.5px 20px;
    align-items: center;
    border-radius: 54.54px;
    background: #ff2f80;
    border-radius: 90.9px;
    border: 0.9px solid #00277a;
    background: #ff2f80;
    backdrop-filter: blur(8.100000381469727px);
    color: #fff;
    text-align: center;
    font-family: Clash Display;
    font-size: 29.7px;
    font-style: normal;
    gap: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.149px;
  }

  .i_play {
    background-color: white;
    border-radius: 100%;
    width: 54.342px;
    height: 54.32px;
  }

  /* CampaignContext */
  .camp_context::before {
    content: "";
    position: absolute;
    width: 425.7px;
    height: 424.8px;
    left: -184px;
    bottom: -39px;
    border-radius: 425.7px;
    background: #ff2f80;
    z-index: 1;
  }

  .camp_context::after {
    content: "";
    position: absolute;
    width: 425.7px;
    height: 424.8px;
    border-radius: 473px;
    background: #ff2f80;
    right: -302px;
    bottom: -319px;
  }

  .camp_context {
    position: relative;
    display: flex;
    z-index: 3;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 1202.4px;
    height: 143.1px;
    border-radius: 31px;
    border: 1px solid #c5c5c5;
    background: #fff;
  }

  .camp_context #camp_context_banner {
    width: 122.4px;
    height: 122.4px;
    position: relative;
    border-radius: 180px;
    border: 0.9px solid #868686;
    z-index: 2;
    /* extra : style */
  }

  .border-r-banner {
    width: 0.9px;
    height: 84.6px;
    background: #fff;
    z-index: 2;
  }

  .camp_context .camp_context_desc {
    width: 753.3px;
    color: #000;
    font-family: Clash Display;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .camp_context div:nth-child(3) img {
    width: 39.5px;
    height: 39.5px;
    margin-top: 105px;
    margin-bottom: 13px;
    position: relative;
    z-index: 2;
  }
}

/* ====================================================================================== 768px =========================================================================== */
/* @media > 768px */
@media (min-width: 768px) and (max-width: 1279px) {
  /* Button : Play Video */
  .btn_default {
    display: flex;
    width: 229.5px;
    /* origin padding */
    /* padding: 2.7px 16.2px; */
    padding: 4.5px 5px 4.5px 16.2px;
    align-items: center;
    border-radius: 54.54px;
    background: #ff2f80;
    border-radius: 90.9px;
    border: 0.9px solid #00277a;
    background: #ff2f80;
    backdrop-filter: blur(8.100000381469727px);
    color: #fff;
    text-align: center;
    font-family: Clash Display;
    font-size: 17.82px;
    font-style: normal;
    gap: 10px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.089px;
  }

  .i_play {
    background-color: white;
    border-radius: 100%;
    width: 32.605px;
    height: 32.592px;
  }

  /* CampaignContext */
  .camp_context::before {
    content: "";
    position: absolute;
    width: 255.42px;
    height: 254.88px;
    left: -111px;
    bottom: -23px;
    border-radius: 425.7px;
    background: #ff2f80;
    z-index: 1;
  }

  .camp_context::after {
    content: "";
    position: absolute;
    width: 255.42px;
    height: 254.88px;
    border-radius: 473px;
    background: #ff2f80;
    right: -181px;
    bottom: -192px;
  }

  .camp_context {
    position: relative;
    display: flex;
    z-index: 3;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 0px;
    width: 721.44px;
    height: 85.86px;
    border-radius: 16.74px;
    border: 1px solid #c5c5c5;
    background: #fff;
  }

  .camp_context #camp_context_banner {
    width: 73.44px;
    height: 73.44px;
    position: relative;
    border-radius: 108px;
    border: 0.54px solid #868686;
    z-index: 2;
    /* extra : style */
  }

  .border-r-banner {
    width: 0.54px;
    height: 50.76px;
    background: #fff;
    z-index: 2;
  }

  .camp_context .camp_context_desc {
    width: 474px;
    color: #000;
    font-family: Clash Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .camp_context div:nth-child(3) img {
    width: 30.9px;
    height: 30.9px;
    margin-top: 60px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
  }
}

/* ====================================================================================== 360px =========================================================================== */
/* @media > 360px */

@media (min-width: 360px) and (max-width: 767px) {
  /* Button : Play Video */
  .btn_default {
    display: flex;
    width: 175.755px;
    /* origin padding */
    /* padding: 2.068px 12.406px; */
    padding: 4.5px 5px 4.5px 12.406px;
    align-items: center;
    border-radius: 54.54px;
    background: #ff2f80;
    border-radius: 90.9px;
    border: 0.9px solid #00277a;
    background: #ff2f80;
    backdrop-filter: blur(8.100000381469727px);
    color: #fff;
    text-align: center;
    font-family: Clash Display;
    font-size: 13.647px;
    font-style: normal;
    gap: 10px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.068px;
  }

  .i_play {
    background-color: white;
    border-radius: 100%;
    width: 24.97px;
    height: 24.96px;
  }

  /* CampaignContext */
  .camp_context::before {
    content: "";
    position: absolute;
    width: 119.728px;
    height: 119.475px;
    left: -54px;
    bottom: -7.5px;
    border-radius: 425.7px;
    background: #ff2f80;
    z-index: 1;
  }

  .camp_context::after {
    content: "";
    position: absolute;
    width: 119.728px;
    height: 119.475px;
    border-radius: 473px;
    background: #ff2f80;
    right: -83px;
    bottom: -80px;
  }

  .camp_context {
    position: relative;
    display: flex;
    z-index: 3;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 0px;
    width: 360px;
    height: 50px;
    /* border-radius: 16.74px; */
    border: 1px solid #c5c5c5;
    background: #fff;
  }

  .camp_context #camp_context_banner {
    width: 34.425px;
    height: 34.425px;
    position: relative;
    border-radius: 50.625px;
    border: 0.253px solid #868686;
    z-index: 2;
    /* extra : style */
  }

  .border-r-banner {
    width: 0.253px;
    height: 23.794px;
    background: #fff;
    z-index: 2;
  }

  .camp_context .camp_context_desc {
    width: 237px;
    color: #000;
    font-family: Clash Display;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .camp_context div:nth-child(3) img {
    width: 14.859px;
    height: 14.859px;
    margin-top: 35px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
  }
}

/* camp_desc */

/* ======================================================================================= 1440px ==================================================================*/
/* @media > 1440px */
@media (min-width: 1440px) {
  .camp_desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1259px;
    height: 103px;
    border-radius: 20.025px;
    border: 0.646px solid #c5c5c5;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(100px);
  }

  .camp_desc_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .camp_desc_border {
    width: 0.646px;
    height: 60.72px;
    background: #000;
  }

  .camp_desc_text p:nth-child(1) {
    color: #ff2f80;
    font-family: Clash Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .camp_desc_text p:nth-child(2) {
    color: #ff2f80;
    font-family: Clash Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .camp_desc #camp_desc_banner {
    width: 88px;
    height: 88px;
    border-radius: 63px;
    border: 0.646px solid #868686;
  }
}

/* btn_reward */

.btn_reward {
  display: flex;
  padding: 4px 5px 4px 30px;
  align-items: center;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
  border-radius: 78.388px;
  border: 0.776px solid #aeaeae;
  background: #ff2f80;
  backdrop-filter: blur(6.985074520111084px);
  color: #fff;
  text-align: center;
  font-family: Clash Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.125px;
}

.i_reward {
  width: 40px;
  height: 40px;
}
/* ===================================================================== ===================================================================== ===================================================================== ===================================================================== */
/* claim_modal */
@media (min-width: 400px) {
  .claim_modal::before {
    content: "";
    position: absolute;
    width: 473px;
    height: 472px;
    border-radius: 473px;
    background: #ff2f80;
    left: -31px;
    bottom: 349px;
    z-index: 0;
  }

  .claim_modal {
    overflow: hidden;
    position: relative;
    top: -10%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    width: 337.78px;
    height: 599px;
    border-radius: 25px;
    background: #fff;
  }

  .modal_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 307px;
    height: 65px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(12.5px);
  }
  .modal_header .close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .modal_header div div {
    color: #fff;
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .chat_reward {
    width: 264px;
    height: 264px;
    position: relative;
  }

  .chat_reward_border {
    position: relative;
    width: 287.345px;
    height: 0.901px;
    background: rgba(2, 23, 46, 0.21);
  }

  .reward_unlocked {
    position: relative;
    align-items: flex-start;
    color: #3a5471;
    text-align: left;
    font-family: Clash Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .claim_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 15px;
    width: 295px;
    height: 44px;
    border-radius: 59.222px;
    border: 0.586px solid #ff2f80;
    background: #ff2f80;
    backdrop-filter: blur(5.277185440063477px);
  }

  .claim_button div:first-child {
    color: #fff;
    text-align: center;
    font-family: Clash Display;
    font-size: 20.522px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.103px;
  }
  .claim_button div:nth-child(2) img {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 100%;
  }

  .learn_more_border {
    width: 126px;
    /* origin 0px */
    height: 0.2px;
    background: rgba(2, 23, 46, 0.21);
  }
  .learn_more_text {
    color: #9ca6b2;
    font-family: Clash Display;
    font-size: 10.809px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
  }

  .modal_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 338px;
    height: 52px;
    border-radius: 15px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(12.5px);
  }

  .modal_footer .privacy {
    color: #02172e;
    font-family: Clash Display;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.618px; /* 240.201% */
    text-decoration-line: underline;
  }

  .modal_footer .viewfi {
    color: #02172e;
    font-family: Clash Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.618px; /* 180.15% */
    white-space: nowrap;
  }

  .modal_footer .viewfi p {
    opacity: 0.79;
    color: #02172e;
    font-family: Clash Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.618px;
    text-decoration-line: underline;
  }
}

/* claim_button */

@media (max-width: 399px) {
  .claim_modal::before {
    content: "";
    position: absolute;
    width: 555px;
    height: 554px;
    border-radius: 555px;
    background: #ff2f80;
    left: -37px;
    bottom: 479px;
    z-index: 0;
  }
  .campaign_container {
    padding-top: 0px;
  }

  .claim_modal {
    overflow: hidden;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    width: 393px;
    height: 852px;
    border-radius: 25px;
    background: #fff;
  }

  .modal_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 333px;
    height: 65px;
    border-radius: 15.609px;
    border: 1.041px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(13.0078125px);
  }
  .modal_header .close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .modal_header div {
    width: 55px;
    height: 55px;
    border-radius: 108px;
    border: 0.54px solid rgba(255, 255, 255, 0.67);
  }

  .modal_header div div {
    color: #fff;
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .chat_reward {
    width: 264px;
    height: 264px;
    position: relative;
  }

  .chat_reward_border {
    position: relative;
    width: 287.345px;
    height: 0.901px;
    background: rgba(2, 23, 46, 0.21);
  }

  .reward_unlocked {
    position: relative;
    align-items: flex-start;
    color: #3a5471;
    text-align: left;
    font-family: Clash Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .claim_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 15px;
    width: 295px;
    height: 44px;
    border-radius: 59.222px;
    border: 0.586px solid #ff2f80;
    background: #ff2f80;
    backdrop-filter: blur(5.277185440063477px);
  }

  .claim_button div:first-child {
    color: #fff;
    text-align: center;
    font-family: Clash Display;
    font-size: 20.522px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.103px;
  }
  .claim_button div:nth-child(2) img {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 100%;
  }

  .learn_more_border {
    width: 126px;
    /* origin 0px */
    height: 0.2px;
    background: rgba(2, 23, 46, 0.21);
  }
  .learn_more_text {
    color: #9ca6b2;
    font-family: Clash Display;
    font-size: 10.809px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
  }

  .modal_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 338px;
    height: 52px;
    border-radius: 15px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(12.5px);
  }

  .modal_footer .privacy {
    color: #02172e;
    font-family: Clash Display;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.618px; /* 240.201% */
    text-decoration-line: underline;
  }

  .modal_footer .viewfi {
    color: #02172e;
    font-family: Clash Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.618px; /* 180.15% */
    white-space: nowrap;
  }

  .modal_footer .viewfi p {
    opacity: 0.79;
    color: #02172e;
    font-family: Clash Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.618px;
    text-decoration-line: underline;
  }
}
